
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);



@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;

}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
    background-color: #292727;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: "sans-serif;";
    padding-left: 10px;
    color: whitesmoke;
    font-size: 20px;
    margin-left: 60px;

}

.header_area .main-menu .navbar-nav .active a{
    background: whitesmoke;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.header_area .main-menu .navbar-nav a:hover{
    background: grey;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
   
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}



/* End Banner Area */ 

/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
      font-family: "Poppins";
    letter-spacing: 3px;

}

.site-main .about-area .about-title .paragraph > p{
    padding: .8rem 0;
    font-family: "sans-serif";
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 0.1in;


}

/* End About Area */ 


/* Start Brand Area */ 

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
 font-family: "Poppins";
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
 font-family: "Poppins";
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* End Brand Area */ 






/* Services Area */ 

.site-main .services-area{
    padding: 7rem 2rem;
    background-color:   white;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 50px;
    font-family: "Poppins";
 
}/* Skills and portfolio heading Area */ 





.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 15rem;
    margin: 4rem .4rem;
    transition: box-shadow .7s ease;
    font-family: "Poppins";
    text-transform: lowercase;

}
/* End Services Area */ 


/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;

    border: none;

    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 


/* About Me */ 

.site-main .about-area .about-title p{
    padding: 1rem 7rem;
 font-family: "Poppins";
}

.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
     font-family: "Poppins";
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
      font-family: "Poppins";
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
       font-family: "Poppins";
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* End About Me */ 

/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;

}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
      font-family: "Poppins";
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
       font-family: "Poppins";
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--Poppins);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */ 










#fh5co-about .fh5co-social-icons {
  margin: 0;
  padding: 0;
}
#fh5co-about .fh5co-social-icons li {
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-about .fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #fff;
  background: #2F3C4F;
  padding: 10px 10px 2px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
#fh5co-about .fh5co-social-icons li a i {
  font-size: 20px;
}
#fh5co-about .fh5co-social-icons li a:hover {
  background: #FF9000;
}

.fh5co-heading {
  margin-bottom: 5em;
}
.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 2em;
}
.fh5co-heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
}
.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.fh5co-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e6e6e6;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading {
    margin-bottom: 30px;
  }
}
.timeline .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading > div h3 {
    float: left;
    margin-bottom: 0;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .timeline > li {
    margin-bottom: 4em;
  }
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  margin-bottom: 0;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-panel {
    width: 85% !important;
  }
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -21px;
  background-color: #FF9000;
  z-index: 100;
  display: table;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
@media screen and (max-width: 992px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
.timeline > li > .timeline-badge i {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  font-size: 18px;
}
.timeline > li.timeline-unverted {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .timeline > li.timeline-unverted {
    text-align: left;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
}

.company {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #bfbfbf;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
.progress-wrap {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.progress-wrap h3 {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.progress-wrap h3 .name-left {
  float: left;
}
.progress-wrap h3 .value-right {
  float: right;
}

.progress {
  width: 100%;
  float: left;
  height: 5px;
  box-shadow: none;
}

.progress-bar {
  background-color: #2F3C4F;
  height: 5px;
  display: block;
  box-shadow: none;
}
.progress-bar.progress-bar-1 {
  background-color: #2980b9 !important;
}
.progress-bar.progress-bar-2 {
  background-color: #c0392b !important;
}
.progress-bar.progress-bar-3 {
  background-color: #d35400 !important;
}
.progress-bar.progress-bar-4 {
  background-color: #8e44ad !important;
}
.progress-bar.progress-bar-5 {
  background-color: #27ae60 !important;
}

.chart {
  width: 160px;
  height: 160px;
  margin: 0 auto 40px auto;
  position: relative;
  text-align: center;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.work {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 270px;
  width: 100%;
  display: table;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .work {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .work {
    height: 270px;
  }
}
.work .desc {
  display: table-cell;
  vertical-align: middle;
  height: 270px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work .desc h3 {
  font-size: 20px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}
.work .desc span {
  display: block;
  color: #999999;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}
@media screen and (max-width: 768px) {
  .work .desc {
    opacity: 1;
    background: rgba(255, 255, 255, 0.6);
  }
  .work .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .work .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.work:hover .desc {
  opacity: 1;
}
.work:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.work:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#fh5co-started {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
#fh5co-started .fh5co-heading {
  margin-bottom: 0;
}
#fh5co-started .fh5co-heading h2 {
  color: #fff;
  margin-bottom: 20px !important;
}
#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-started .btn {
  height: 54px;
  border: none !important;
  background: #fff;
  color: #FF9000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

.fh5co-blog {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}
.fh5co-blog .blog-bg {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog .blog-bg {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-blog .blog-bg {
    height: 270px;
  }
}
.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 30px;
  float: left;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .fh5co-blog .blog-text {
    padding: 10px;
  }
}

}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.col-padding {
  padding: 6px !important;
  margin: 0px !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */













/* Start of contact  form  */

.contact_section {
  background-color: #292727;
  background-size: cover;
  color: #fefdfc;
}

.contact_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 45px;
}

.contact_section .heading_container h2 {
  position: relative;
  color: #fefdfc;
  top: 25px;
}
.contact_section .heading_container p {
  margin-top: 30px;
  color: #515654;

}
.contact_section .form_container form .form-control {
  border: none;
  background-color: #fefdfc;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 20px;
  height: 45px;
  margin: 5px 0;
  border-radius: 0;
}

.contact_section .form_container form #inputMessage {
  height: 90px;
}

.contact_section .form_container form button {
  display: inline-block;
  padding: 10px 65px;
  background-color: #20cade;
  color: #fefdfc;
  border-radius: 0;
  border: 1px solid #20cade;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
}

/* End of form  */ 





.contact_section .contact_items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .contact_items a .img-box {
  width: 75px;
  min-width: 75px;
  margin-right: 15px;
}

.contact_section .contact_items a .img-box img {
  max-width: 100%;
}

.contact_section .contact_items a h6 {
  color: #fefdfc;
  margin: 0;
}

.contact_section .social_container {
  margin-top: 45px;
}

.contact_section .social_container .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 20px auto;
}

.contact_section .social_container .social-box img {
  width: 37px;
  margin-left: 16px;
}








/* Footer Area */ 


/* footer section*/
.footer_section {
  background-color: #292727;
  padding: 40px;
  margin-top: -20px;
}

.footer_section p {
  margin: 0;
  text-align: center;
  color: #fefdfc;
}

.footer_section a {
  color: #fefdfc;
}



/* End Footer */ 



